# Node.js dependencies
node_modules/
package-lock.json

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Build files
dist/
build/

# Temporary files
*.tmp
*.swp
*.bak
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage/

# Debug files
*.tgz
*.gz